//import groovy.json.JsonSlurperClassic
import groovy.json.JsonSlurper
def getFortuneCookie = {
   
    fortuneJSON = sh(returnStdout: true, script: 'curl -s http://<myhost>:8081/cow')

}

node ('master') {
    script {
        getFortuneCookie()

    def myObject = readJSON text: fortuneJSON;
    echo myObject.cookie[0];
    //echo ${fortuneJSON}
    }
    
}

pipeline {
    agent any
    stages {
        stage('echo') {
            steps {
                sh "echo done....fortuneJSON"
            }
        }
    }
}